.header{
    padding-left: 1vw;
    width: 100vw;
    border: solid 1px black;
    background-color: grey;
}

.navbar-n{
    display: flex;
    height: 4vh;
    flex-direction: row;
    justify-content: flex-start;
    border: solid black 1px;
}

.logo{
    width: 10vw;
}
